# Compiled source #
###################
*.o
*.so
*.pyo
*.pyc

# Logs and databases #
######################
*.log
*.swp
*.DS_Store

# Old PyCox code #
##################
# This isn't needed in CharLiePy.
pycox-old/
